Django==6.0.6
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.10
cloudinary==1.36.0
gunicorn==21.2.0
whitenoise==6.6.0
python-decouple==3.8
dj-database-url==2.1.0
django-extensions==4.1
pyopenssl==26.3.0
Werkzeug==3.1.8
numpy-financial==1.0.0
reportlab==4.0.9